@model IEnumerable<PhotoSharingApp.Model.Photo>

<title>All photos</title>

<div>
    <h2>All photos</h2>
    <p>
        @Html.ActionLink("Add a Photo",
 "Create", "Photo")
    </p> 
    @Html.Action("_PhotoGallery", "Photo" )
    
</div>


